* {
    margin: 0;
    padding: 0;
  }

.header{
    background: #b9bfc4;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;

  }

.logo img {
    border-radius: 10px;
    padding-left: 200px;
}
.logo {
    padding-top: 40px;
    
}

.logo-name {
   padding-left:160px;
}
.logo p {
  padding-left:160px;
}
    

.nav {
    text-align: right;
}
    
 

  .nav-list li{
    display:inline-block;
    margin: 0;
    padding: 0;
    
}

  .nav-list a{
    display: block;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #E0A80D;
    border-color: #31302d;

  }
  .nav-list a:hover {
    background: #E0A80D;
  }

 .li a{
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
}

 .main{
    background: #b9bfc4;
    padding: 0;
    margin: 0;
}
 .section1 {
     padding: 150px;
     background-color:#a1a7a7 ;
     
 }

 .section2 {
    padding: 150px;
    background-color:#a1a7a7 ;
 }
.section3 {
        padding: 150px;
        background-color:#a1a7a7 ;
}
.section4 {
    padding: 150px;
    background-color:#a1a7a7 ;
}
.section5 {
    padding: 150px;
    background-color:#a1a7a7 ;
}
.section6 {
    padding: 150px;
    background-color:#a1a7a7 ;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer {
    background: #b9bfc4;
    
  }
  footer .container {
    background-color: #31302d;
    height: 200px;
  }
  .left {
    float:right;
    
  }
  h3 {
    padding-top: 90px;
    color: #F7DF1D;
    padding-left: 20px;
  }